html {
    background-color: #18181a;
    font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

.page-body {
    padding: 0px 20%;
}

@media screen and (max-width: 880px) {
    .page-body {
        padding: 0px 10%;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

p, .secondary {
    font-family: 'Inter', Helvetica, sans-serif;
}

.tertiary {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1em;
}

.courier-heading {
    color: #999999;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-style: italic;
}

.about-text {
    font-size: 1.1em;
    line-height: 1.7;
}

.center {
    text-align: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

.intro-hr {
    background-color: white;
}



.reveal {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  }
  
  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }