html {
    background-color: #f1f5f9;
    font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
}

.page-content {
    margin: 0px 25%;
    color: #333;
}

img {
    width: 90%;
    margin: 5%;
}

.courier-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

.frontmatter {
    margin-bottom: 20px;
}


@media screen and (max-width: 880px) {
    .page-content {
        padding: 0px 10%;
    }
}