html {
    background-color: #f1f5f9;
    font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
}

.page-content {
    margin: 0px 25%;
    color: #333;
}

.courier-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    margin-top: 8px;
    padding-bottom: 6px;
}

.frontmatter {
    margin-bottom: 20px;
}

p, li {
    line-height: 1.6em;
}

.subtitle {
    margin: 0 0;
}

.italic {
    font-style: italic;
}

.tertiary {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1em;
}

.modal {
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0; /* Start with hidden modal */
    visibility: hidden; /* Modal starts hidden */
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Fade in + delay visibility change */
  }
  
  .modal.open {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make the modal visible */
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s; /* No delay on visibility */
  }
  
  .modal-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 8px;
    opacity: 0; /* Start with the image hidden */
    transition: opacity 0.5s ease-in-out; /* Fade-in transition for the image */
  }
  
  .spinner {
    display: block !important;
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light gray border */
    border-top: 4px solid white; /* White top border for spin effect */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Spin animation */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Start hidden */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Fade in/out smoothly */
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
  
  body.no-scroll {
    overflow: hidden;
  }

@media screen and (max-width: 880px) {
    .page-content {
        margin: 0px 10%;
    }
}