html {
    background-color: #f1f5f9;
    font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
}

.page-content {
    margin: 0px 25%;
    color: #333;
}

.courier-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    margin-top: 8px;
    padding-bottom: 6px;
}

.frontmatter {
    margin-bottom: 20px;
}

p, li {
    line-height: 1.6em;
}

.subtitle {
    margin: 0 0;
}

.italic {
    font-style: italic;
}

.tertiary {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1em;
}

@media screen and (max-width: 880px) {
    .page-content {
        margin: 0px 10%;
    }
}