---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Asaro Heads";
const desc = "Casting concrete sculptures with 3D-printed molds!"
const pubDate = 2025-11-5

---
<BaseLayout title={title} desc={desc} date={pubDate}>
  <p>A couple summers ago, I wanted to learn how to draw people&mdash;specifically, faces. However,
    having started with almost no drawing experience, I found it difficult to accurately replicate
    the proportions and values (light and shadow) of a face. I went in search of anatomy tutorials 
    online, and one of the approaches I found (and found useful) was the Asaro head, an abstracted model
    which made it easier to identify the simple planes/geometries that make up someone's face. The only problem
    is that these models are expensive and, simultaneously, made from a cheap grey plastic. I wanted
    to improve on this by making my own&mdash;in concrete.
  </p>
  <p class="italic">[A full project breakdown coming soon]</p>
  <img src="/IMG_4256.jpeg"/>
  <img src="/IMG_4468.jpeg"/>
  <img src="/IMG_4470.jpeg"/>
</BaseLayout>