---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Camera Lens Filters";
const desc = "The iterative design path I took to creating new photos"
const pubDate = 2025-11-29

---
<BaseLayout title={title} desc={desc} date={pubDate}>
  <p>I took up photography late in my senior year of high school, and since then have invested myself 
    in taking pictures not just in novel places but in novel ways. I recently discovered that covering
    part of a camera lens leads to interesting background blur effects, and there are several
    online creators and sellers who make these products. This is my own attempt to create and experiment
    with such lens filters, and an excuse to learn resin printing at the university's Product Realization
    Lab.
  </p>
  <p class="italic">[A full project breakdown coming soon]</p>
  <img src="/Lens Filter CAD.png" />
  <img src="/Lens Filter Demo.png" />

</BaseLayout>