---
import BaseLayout from '../layouts/BaseLayout.astro';
import Image from '../components/Pageimage.astro';
const title = "Studio 1: Architecture";
const desc = "Reviewing what I made in this spring quarter seminar";
const pubDate = new Date("2025-06-01");

---
<BaseLayout title={title} desc={desc} pubDate={pubDate}>
  <Image src="/DSC05292.jpeg"></Image>
  <p>In freshman year, I took an intensive introduction to architecture class with an emphasis 
    on creative exploration and making. I learned how to draw plans and sections&mdash;schematics
    which depict structures through horizontal or vertical plane cuts&mdash;as well as assemble
    models out of mediums like laser-cut wood. 
    </p>
    <p>
    For the final project, I created this unique
    K-House design, which segments kitchen, dining, living, and bedroom into separate programmatic 
    spaces united by a central tower. I utilized a kerf-cutting technique to accomplish the curved
    walls of the model, which I learned for a "pavilion" design project earlier in the course.</p>
    <Image src="/DSC05296.jpeg"></Image>
    <p>
      I'm thankful for how this course taught me to think and design spatially. Ethen Wood, the instructor,
      encouraged me to consider how structures can emulate or influence movement, how light travels at different
      times and in different places, and how function follows or occasionally violates form. This mode
      has helped me become more imaginative in my own creative processes, and perhaps 
      more appreciative of the built world we live in.
    </p>
</BaseLayout>