---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Studio 1: Architecture";
const desc = "Reviewing what I made in this spring quarter seminar"
const pubDate = 2025-6-1

---
<BaseLayout title={title} desc={desc} date={pubDate}>
  <img src="/DSC05292.jpeg" />
  <p>In freshman year, I took an intensive introduction to architecture class with an emphasis 
    on creative exploration and making. I learned how to draw plans and sections, as well assemble
    models out of mediums like laser-cut wood. 
    </p>
    <p>
    For the final project, I created this unique
    K-House design, which segments kitchen, dining, living, and bedroom into separate programmatic 
    spaces united by a central tower. I utilized a kerf-cutting technique to accomplish the curved
    walls of the model, which I learned for a "pavilion" design project earlier in the course.</p>
    <img src="/DSC05296.jpeg" />
</BaseLayout>