---
import Social from "./Social.astro";
---

<style>
  footer {
    gap: 1rem;
    background-color: #ebeff3;
    padding: 50px 6%;
  }

  .small-text {
    font-size: 0.8em;
  }

  @media screen and (max-width: 600px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 0%;
      gap: 0rem;
    }
  }

</style>

<footer>
  <div>
    <Social platform="github" username="trominoes" />
    <Social platform="youtube" username="@minooj3125" />
    <Social platform="linkedin" username="in/minoo-jang" />
    <Social platform="instagram" username="minooisms" />
  </div>
  <p class="tertiary small-text">Minoo Jang. Built with Astro.</p>
</footer>
